@media (max-width: 576px) {
  .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item {
    padding-inline: 4px !important;
    padding-left: 4px !important;
    padding-right: 4px !important;
  }

  .ant-menu-horizontal > .ant-menu-item::after,
  .ant-menu-horizontal > .ant-menu-submenu::after {
    left: 4px !important;
    right: 4px !important;
  }
}

.ant-list-item {
  padding-inline: 0 !important;
  padding-left: 4px !important;
  padding-right: 4px !important;
}
