.ant-page-header {
  margin: 16px !important;
  padding: 0 !important;
}

@media (max-width: 576px) {
  .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item {
    padding: 0 8px !important;
  }

  .ant-menu-horizontal > .ant-menu-item::after,
  .ant-menu-horizontal > .ant-menu-submenu::after {
    left: 8px !important;
    right: 8px !important;
  }
}
