@import "@/styles/antd.css";
@import "@/styles/custom.ant.css";

:root {
  --ant-primary-color: #1da57a;
  --layout-width: 1200px;
  --layout-margin: 16px;
}
.title {
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: black;
}
.basic-layout {
  min-height: 100vh !important;
}
.basic-layout .header {
  padding-inline: var(--layout-margin);
}
.basic-layout .content {
  margin-left: auto;
  margin-right: auto;
  align-content: center;
  width: 100%;
  max-width: var(--layout-width);
}
.basic-layout .footer {
  text-align: center;
}
.login-layout {
  min-height: 100vh;
}
.login-layout .title {
  font-size: 20px;
}
.login-layout .header {
  padding: 0px var(--layout-margin);
}
.login-layout .content {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.header {
  background: white;
}
@media (prefers-color-scheme: dark) {
  .title {
    color: white;
  }
  .header {
    background: #141414;
  }
}
.navbar {
  align-content: center;
  margin-left: auto;
  margin-right: auto;
  max-width: calc(var(--layout-width) - 2 * var(--layout-margin));
}
.navbar .title {
  font-size: 18px;
  padding-right: 20px;
}
.navbar .search-button {
  margin: 8px;
}
@media (max-width: 576px) {
  .navbar .title {
    font-size: 14px;
    padding-right: 8px;
  }
  .navbar .search-button {
    margin: 4px;
  }
}
.navbar .col-menu {
  margin-left: auto;
  margin-right: auto;
}
.navbar .col-menu .menu {
  height: 64px;
  border: 0;
  background-color: transparent;
}
.notice-list .notice-item {
  padding: 0;
  margin-top: var(--layout-margin);
}
.notice-list .notice-item .notice {
  align-content: center;
  margin-left: var(--layout-margin);
  margin-right: var(--layout-margin);
  max-width: calc(var(--layout-width) - 2 * var(--layout-margin));
}
.card-title {
  white-space: normal;
}
.review-body {
  width: 100%;
}
.comment p{
  margin: 0 !important;
}
.courses-radio-group {
  padding: 0;
}
.total-point {
  font-weight: bold;
}
.review-course-spinning {
  text-align: center;
}
.search-input {
  margin-bottom: var(--layout-margin);
}

.statistic {
  margin: var(--layout-margin);
}

.statistic .search-input {
  margin-top: calc(var(--layout-margin) * 1);
}

.statistic .slogan-title {
  margin-top: calc(var(--layout-margin) * 4);
  margin-bottom: calc(var(--layout-margin) * 4);
  text-align: center;
}
.statistic .info-row {
  text-align: center;
  margin: calc(var(--layout-margin) * 4);
}

.sync-select {
  width: 100%;
}

.review-item .ant-list-item-action > li {
  padding: 0 4px;
}

.filter-card .ant-card-body {
  padding: 8px;
}
