<!doctype html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport"
        content="width=device-width, initial-scale=1" />
    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?bffe2d130d940fce5a0876ee2dc36b92";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
        _hmt.push(['_requirePlugin', 'UrlChangeTracker', {
            shouldTrackUrlChange: function (newPath, oldPath) {
                return newPath && oldPath;
            }
        }
        ]);
    </script>
</head>

<body>
    <div id="root"></div>
</body>

</html>