.title {
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: black;
}

@media screen and (prefers-color-scheme: dark) {
  .title {
    color: white;
  }
}
