.ant-page-header {
  margin: 16px;
  padding: 0;
}

.ant-layout-header {
  background: white;
}
.ant-menu {
  background: transparent;
}

.title {
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: black;
}
