.dark-page-header {
  margin: 16px !important;
  padding: 0 !important;
}

.review-item .dark-list-item-action > li{
  padding: 0 4px;
}

@media (max-width: 576px) {
  .dark-menu-horizontal:not(.dark-menu-dark) > .dark-menu-item {
    padding: 0 8px !important;
  }

  .dark-menu-horizontal > .dark-menu-item::after,
  .dark-menu-horizontal > .dark-menu-submenu::after {
    left: 8px !important;
    right: 8px !important;
  }
}
